// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blue: #0D6EFD;
$green: #3E8914;
$darkgreen: #134611;

// Colour scheme colour codes:

// For pastels
$pastel-blue: #E1ECF7;
$pastel-green: #EBF4E2;
$pastel-purple: #F2EBFB;
$pastel-orange: #FFEAD6;

// For more vibrant versions
$vibrant-blue: #C6DCF1;
$vibrant-green: #DDF2C7;
$vibrant-purple: #E8D6FF;
$vibrant-orange: #FCD6B2;

// For even more vibrant colours
$pop-blue: #99C3EC;
$pop-green: #C3EC9A;
$pop-purple: #D1ADFF;
$pop-orange: #FFC792;


$white: #ffffff;
$black: #141414;

// colors for emotions
$emotion-1: #EBF4E2;
$emotion-2: #E1EED3;
$emotion-3: #D3E6BE;
$emotion-4: #CDE2B6;
$emotion-5: #C3DCA7;
$emotion-6: #B9D798;
$emotion-7: #AFD189;
