// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;

$blue: #0D6EFD;
$green: #3E8914;
$darkgreen: #134611;
