// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blue: #0D6EFD;
$green: #3E8914;
$darkgreen: #134611;

// Colour scheme colour codes:
$pastel-blue: #E1ECF7;
$pastel-green: #EBF4E2;
$pastel-purple: #F2EBFB;
$pastel-orange: #FFEAD6;
$white: #FDFDFD;
$black: #141414;
