// Specific CSS for your home-page
.middle-content {
  text-align: center;
  padding-bottom: 100px;

  h2 {
    padding-top: 100px;
  }

  p {
    padding-top: 20px;
  }
}

.bottom-content {
  text-align: center;

  h3 {
    padding-top: 100px;
  }

  a {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}

.review-card {
  // border: 1px solid lightgrey;
  border-radius: 4px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  p {
    font-size: 16px;
  }
}

.landing-icon {
  height: 80px;
  width: auto;
}
