// Specific CSS for your home-page
.middle-content {
  text-align: center;
  padding-bottom: 100px;

  h2 {
    padding-top: 100px;
  }

  p {
    padding-top: 20px;
  }
}

.bottom-content {
  text-align: center;

  h3 {
    padding-top: 100px;
  }

  a {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
