.journal-paragraph-wrapper {
  display: flex;
  justify-content: space-between;
}

.journal {
  width: 100%;
  background-color: $white;
  margin: 0.8em 0px;
  text-align: center;
  padding: 5px 35px;
  border-radius: 5px;
}

.journal-box {
  background-color: $vibrant-green;
  width: 800px;
  height: auto;
  border-radius: 5px;
}

.journals {
  margin-bottom: 20px;
}


.journal-link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  &:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}

.journal-title-wrapper {
  position: relative;
  margin-bottom: 1%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.journal-icon {
  width: 50px;
  height: auto;
  position: relative;
  top: 47px;
  left: -70px;
}

.content-wrapper {
  width: 80%;
  justify-content: center;
  padding: 2em;
  margin-bottom: 60px;
  border-radius: 5px;
}

.add-journal-wrapper {
  margin: 30px;
  padding: 1em;
}

.tab-journal {
  display: flex;
}

.dropdown-menu>li>a {
  text-align: center;
}
