<div class='container my-5'>
  <div class="container">
    <h1><strong>Emotions Calendar</strong></h1>
    <%# Change the path to the correct path when created %>
    <button type="button" class="btn btn-flat-emotion" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Add your emotion for today
    </button>
    <p>Here you can see your mental health mapped out in a calendar and colour coded.</p>
    <p>Try and keep an eye on the pattern regularly. If you've not been feeling great, then make sure to adjust your goals for the day. The better you feel, the more you should try and achieve. But, if you're on a down day or week, take it easy and try and set goals that are achievable for you.</p>
  </div>
</div>
<div class="container py-5">
  <div class="calendar">
    <%= month_calendar(attribute: :created_at, events: @emotions) do |date, emotions| %>
      <div class="calendar-content emotion-<%= emotions.first.emotion_level if emotions.any? %>">
      <% end %>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">How are you feeling today?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for @emotion do |f| %>
        <div class="modal-body">
          <div class="position-relative" >
            <div class ="d-flex justify-content-between">
              <img src="https://raw.githubusercontent.com/albertobeta/AffectiveSlider/432b19cc6e5190a3879a3e16f53a34f630a821c6/code_implementations/html5/images/AS_sleepy.svg" alt="" width = 25px>
              <p>It's not a good day</p>
              <p>I feel positive</p>
              <img src="https://raw.githubusercontent.com/albertobeta/AffectiveSlider/432b19cc6e5190a3879a3e16f53a34f630a821c6/code_implementations/html5/images/AS_happy.svg" alt="" width = 25px>
            </div>
            <%= f.input :emotion_level, as: :range, input_html:{ min:"1", max:"8"}, label: false %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Back</button>
          <button type="submit" class="btn btn-flat-save">Save</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
