<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>slider demo</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <style>#slider { margin: 10px; width: 600px; }  </style>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<h1>How are you feeling today?</h1>

<div id="slider"></div>

<script>
$( "#slider" ).slider();
$( ".selector" ).slider({
  start: function( number, ui ) {}
});

$( ".selector" ).on( "slidestart", function( event, ui ) {} );
$( ".selector" ).slider({
  stop: function( number, ui ) {}
});
$( ".selector" ).on( "slidestop", function( number, ui ) {} );

</script>

</body>
</html>