<div class="container">
  <h1>Your emotions calendar</h1>
  <div class="calendar">
    <%= month_calendar(attribute: :created_at, events: @emotions) do |date, emotions| %>
      <div class="calendar-content emotion-<%= emotions.first.emotion_level if emotions.any? %>">
      <% end %>
    </div>
  </div>
</div>
<h1>Custom</h1>
<div class='container my-5'>
  <div class="container">
    <h1>Emotions Calendar</h1>
    <%# Change the path to the correct path when created %>
    <%= link_to "Add your emotion for today", emotions_path, class: "btn btn-flat-emotion" %>
    <p>Here you can see your mental health mapped out in a calendar and colour coded.</p>
    <p>Try and keep an eye on the pattern regularly. If you've not been feeling great, then make sure to adjust your goals for the day. The better you feel, the more you should try and achieve. But, if you're on a down day or week, take it easy and try and set goals that are achievable for you.</p>
  </div>
</div>
