<div class="container pt-3">
  <div class="container text-center">
    <h1><strong>Find articles to help you and resources near you</strong></h1>
  </div>
</div>
<div class="col-6 pt-5 mx-5">
  <div class="text-center">
    <h5>Read more to learn more</h5>
  </div>
  <div class='container cards'>
    <% @articles.each do |article| %>
      <div class="card-trip mb-5">
        <%= image_tag article.image_url, alt: article.title %>
        <div>
          <div class="card-trip-infos">
            <div>
              <h2 class="d-inline-block"><strong><%= article.title %></strong></h2>
              <p class='mb-2'><strong>By <%= article.author %></strong></p>
              <%#= link_to article.url, class: "card-link" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
