<div class='container' data-controller="completed-goals">
  <div class='row gx-5'>
    <%# <% if @completed_goals.any? && @today_goals.empty? %>
    <div class="d-none d-flex justify-content-center mt-4 pt-4" data-completed-goals-target="congrats">
      <div class="cookiesContent" id="cookiesPopup">
        <div class="cookie-emoji">
          <%= image_tag "well-done (1).png", class: "congrats-icon" %>
        </div>
        <p>Great job for achieving your goals!</p>
        <%= link_to "Write a journal", new_journal_path, class: "btn btn-flat-devise" %>
      </div>
    </div>
    <div data-completed-goals-target="disappear">
      <% if @today_goals.any? %>
        <% @today_goals.first(4).each do |goal| %>
          <div class="col-sm-12 mt-5">
            <div class="container mt-3">
              <div class="card-product my-4 mx-3">
                <div class="card-product-infos" data-action="change->completed-goals#sayCongrats">
                  <%= render "users/checkbox", goal: goal %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="text-center mt-5">
          <h6><%= "No goals added yet! Make sure to add a goal today!" if @today_goals.empty? %></h6>
        </div>
      <% end %>
    </div>
  </div>
</div>
