<%# The newest article on the app %>
<div class='container cards pt-3'>
  <% @articles.each do |article| %>
    <div class="card-trip mb-5">
      <%= image_tag article.image_url, alt: article.title %>
      <div>
        <div class="card-trip-infos">
          <div>
            <h2 class="d-inline-block"><strong><%= article.title %></strong></h2>
            <p class='mb-2'><strong><%= article.author %></strong></p>
            <%#= link_to article.url, class: "card-link" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
