<div class="container pt-5">
  <%# <%= image_tag "logo.png", class: "" %>
  <h1><strong>Hello, <%= current_user.first_name %></strong></h1>
  <h3>Welcome back!</h3>
</div>
<%# Need to limit to only the goals that have been selected on a specific day (today) %>
<div class="container pb-5">
  <h5><strong> Your goals today</strong></h5>
  <div class="">
    <% @user_goals.first(4).each do |goal| %>
      <%= goal.description %>
    <% end %>
  </div>
</div>
