<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.pexels.com/photos/132076/pexels-photo-132076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <%#= image_tag "logo.png", class: "banner-logo" %>
  <div class="container">
    <h1>Chrysalis</h1>
    <p>Achieve goals, build habits, stay on track and become a better you today</p>
  </div>
</div>
