<div class="row pt-5">
  <div class="col">
    <%= image_tag "goal (1).png", class: "landing-icon" %>
    <p>Set daily goals that are do-able.</p>
  </div>
  <div class="col">
    <%= image_tag "step.png", class: "landing-icon" %>
    <p>Gradually form good habits.</p>
  </div>
  <div class="col">
    <%= image_tag "journal (1).png", class: "landing-icon" %>
    <p>Keep track of your progress.</p>
  </div>
  <div class="col">
    <%= image_tag "goal.png", class: "landing-icon" %>
    <p>Reach long term goals through taking small steps every day.</p>
  </div>
</div>
