<div class="row pt-5">
  <div class="col">
    <%= image_tag "goal (1).png", class: "landing-icon" %>
    <h5 class="pt-3"><strong>Set daily goals for yourself that are do-able, manageable and realistic</strong></h5>
    <p>Use our app-generated goals to kick-start your journey. Seem too easy? Keep adding your own custom goals, the sky is your limit.</p>
  </div>
  <div class="col">
    <%= image_tag "step.png", class: "landing-icon" %>
    <h5 class="pt-3"><strong>Gradually form good habits</strong></h5>
    <p>Over time you'll find that the goals you once set that might have felt difficult to complete are getting easier each time. Forming good habits is what we encourage through setting daily goals.</p>
  </div>
  <div class="col">
    <%= image_tag "journal (1).png", class: "landing-icon" %>
    <h5 class="pt-3"><strong>Keep track of your progress</strong></h5>
    <p>The best feeling is to read back a past journal entry and see how far you have come. Tracking your mental health and state of mind is important in understanding your triggers and what you need to improve on and what you are good at.</p>
  </div>
  <div class="col">
    <%= image_tag "goal.png", class: "landing-icon" %>
    <h5 class="pt-3"><strong>Reach long-term goals through taking small steps every day</strong></h5>
    <p>It's never an easy feat to start from the bottom and get to the top. Through each of the small goals you set and achieve, you get closer and closer to your long-term goals. We want to help you find happiness in the outside world.</p>
  </div>
</div>
