<div class="row d-flex justify-content-center pt-3">
  <div class="col-4">
    <div class="card review-card p-3 text-center">
      <blockquote class="blockquote mb-0">
        <p><i class="fa-solid fa-quote-left"></i> I experienced tremendous growth in my 1+ year using Chrysalis. The app has helped me in so many ways. <i class="fa-solid fa-quote-right"></i></p>
        <footer class="blockquote-footer pt-2">
          <small class="text-muted">
            <cite title="Source Title">Fujioka Yoshiro</cite>
          </small>
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="col-4">
    <div class="card review-card p-3 text-center">
      <blockquote class="blockquote mb-0">
        <p><i class="fa-solid fa-quote-left"></i> I felt so alone and stuck before I found Chrysalis. I've changed my way of life and am improving day by day. <i class="fa-solid fa-quote-right"></i></p>
        <footer class="blockquote-footer pt-2">
          <small class="text-muted">
            <cite title="Source Title">Nakasone Junko</cite>
          </small>
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="col-4">
    <div class="card review-card p-3 text-center">
      <blockquote class="blockquote mb-0">
        <p><i class="fa-solid fa-quote-left"></i> I was in a dark place for a long time. Setting challenges every day has really helped me stay accountable. <i class="fa-solid fa-quote-right"></i></p>
        <footer class="blockquote-footer pt-2">
          <small class="text-muted">
            <cite title="Source Title">Shinohara Hisao</cite>
          </small>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
