<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.pexels.com/photos/132076/pexels-photo-132076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <%#= image_tag "logo.png", class: "banner-logo" %>
  <div class="container">
    <h1>Chrysalis</h1>
    <p>Achieve goals, build habits, stay on track and become a better you today</p>
    <%# Change the button colour %>
    <%= link_to "Get started", dashboard_path, class: "btn btn-light rounded mt-2" %>
  </div>
</div>
<div class="middle-content">
  <div class="container">
    <h2>How we've helped</h2>
    <%# Add more detail here. %>
    <p>Across the country, we have supported thousands of people to integrate back into society through actionable steps.</p>
    <%= render "pages/review_cards" %>
  </div>
</div>
<%# Change the colour here %>
<div class="middle-content" style="background-color: #E1ECF7;">
  <div class="container">
    <h2>How does it work?</h2>
    <%# Add more details here %>
    <p>Succint explanation here and how it is effective.</p>
    <%= render "pages/how" %>
  </div>
</div>
<div class="bottom-content">
  <div class="container">
    <h3>Start working on you today</h3>
    <%# Change the button colour %>
    <%= link_to "Get started", dashboard_path, class: "btn btn-dark rounded mt-2" %>  </div>
</div>
