.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: white;
  // opacity: .9;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.banner-logo {
 position: absolute;
 height: 300px;
 width: auto;
 top: -5px;
 left: 1390px;
}
