// For the landing page
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #B9D798;
  font-weight: 700;
  font-size: 20px;
  &:hover {
    background: #AFD189;
    color: white;
  }
}

.btn-flat-start {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $pop-green;
  font-weight: 700;
  font-size: 20px;
  &:hover {
    background-color: $pop-green;
    color: white;
  }
}

// Used across the app
.btn-light {
  background-color: #F9F8FD;
  border-radius: 30px;
  padding: 3px 24px;
  font-weight: 500;
  font-size: 16px;
  &:hover {
    background-color: #F9F8FD;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
  }
}

// For the log in and sign up pages
.btn-flat-devise {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #B9D798;
  font-weight: 700;
  font-size: 20px;
  &:hover {
    background: #AFD189;
    color: white;
  }
}

// For adding new
.btn-flat-save {
  color: white;
  border: none;
  padding: 3px 24px;
  border-radius: 30px;
  background: $pop-green;
  font-weight: 500;
  font-size: 16px;
  &:hover {
    background-color: $pop-green;
    box-shadow: 0 0 3px rgba(24, 81, 35, 0.763);
    color: white;
  }
}

// For the button on the emotions page
.btn.btn-light-emotion {
  background-color: #F9F8FD;
  border-radius: 30px;
  padding: 3px 24px !important;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  top: -47px;
  right: -1000px;
  &:hover {
    background-color: #F9F8FD;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
  }
}
