.calendar {
  display: flex;
  justify-content: center;
}

.simple-calendar {
  .day {
    .emotion-1 {
      background-color: $emotion-1;
    }

    .emotion-2 {
      background-color: $emotion-2;
    }

    .emotion-3 {
      background-color: $emotion-3;
    }

    .emotion-4 {
      background-color: $emotion-4;
    }

    .emotion-5 {
      background-color: $emotion-5;
    }

    .emotion-6 {
      background-color: $emotion-6;
    }

    .emotion-7 {
      background-color: $emotion-7;
    }

    .emotion-8 {
      background-color: $emotion-8;
    }
  }

  .wday-0 {

  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {

  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {

  }
}

.calendar-content {
  width: 50px;
  border-radius: 5px;
  height: 100%;
}

.emotion-1 {
  background-color: $emotion-1;
}

.emotion-2 {
  background-color: $emotion-2;
}

.emotion-3 {
  background-color: $emotion-3;
}

.emotion-4 {
  background-color: $emotion-4;
}

.emotion-5 {
  background-color: $emotion-5;
}

.emotion-6 {
  background-color: $emotion-6;
}

.emotion-7 {
  background-color: $emotion-7;
}

.emotion-8 {
  background-color: $emotion-8;
}

.emotion-box {
  height: 20px;
  width: 20px;
}

.box-wrapper {
  display: flex;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;

  .calendar-title {
    font-weight: bold;
  }

  a {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }

  a:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
   background-position: 0;
  }

  a:hover::before{
    width: 100%;
  }
}
