.how-card {
  // background-color: none;
  // border: none;
}

.card {
  // background-color: none;
}

.card-product {
  // overflow: hidden;
  height: 80px;
  background: #F9F8FD;
  border-radius: 25px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// Progress index
.progress-card {
  background-color: #fafafa;
  border-radius: 30px;
  margin-bottom: 150px;
  padding-bottom: 60px;
}
