.how-card {
  // background-color: none;
  // border: none;
}

.card {
  // background-color: none;
}

.card-product {
  // overflow: hidden;
  height: 80px;
  background: #F9F8FD;
  border-radius: 25px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// Progress index
.progress-card {
  background-color: #fafafa;
  border-radius: 30px;
  margin-bottom: 150px;
  margin-top: 100px;
  padding-bottom: 60px;
}

// For the articles page
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 20px;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-pricing {
  position: absolute;
  right: 15px;
  top: 90px;
  width: 40px;
  text-align: center;
}

.card-trip-infos .badge {
  margin-bottom: auto;
  margin-top: 10px;
  justify-content: center;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// For dashboard article card
.card-trip-article {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 20px;
  height: 430px;
  position: relative;
  top: -15px;
  left: -50px;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
}

.card-trip-article > img {
  height: 338px;
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.card-trip-article h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-trip-article p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.card-trip-article .card-trip-infos-article {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos-article .card-trip-pricing-article {
  position: absolute;
  right: 15px;
  top: 90px;
  width: 40px;
  text-align: center;
}

.card-trip-infos-article .badge {
  margin-bottom: auto;
  margin-top: 10px;
  justify-content: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-dash-journal {
margin-top: 450px;
}
