* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

.checkbox-animation {
  input[type="checkbox"] {
    position: relative;
    top: -4px;
    left: -60px;
    width: 1.5em;
    height: 1.5em;
    color: $black;
    border: 0.5px solid $gray;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 2px;
      left: 7px;
      width: 8px;
      height: 14px;
      border-style: solid;
      border-color: $white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
    &:checked {
      color: $white;
      border-color: $pop-green;
      background: $pop-green;
      &::before {
        opacity: 1;
      }
      ~ label::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  label {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 0 0.25em 0;
    user-select: none;
    &::before {
      position: absolute;
      content: attr(data-content);
      color: $black;
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      text-decoration: line-through;
      text-decoration-thickness: 1.5px;
      text-decoration-color: $black;
      transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }
}
