.dash-bg-color {
  // Just a placeholder color for the background
  background-color: $pastel-green;
  height: 180px;
  width: auto;
}

.dash-icon {
  height: 40px;
  width: auto;
  position: relative;
  top: 35px;
  left: -57px;
}

.dash-button {
  position: relative;
  top: -42px;
  left: 410px;
  background-color: #F9F8FD;
  border-radius: 30px;
  font-weight: 500;
  &:hover {
    background-color: #F9F8FD;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
  }
 }

.parent {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.placeholder-img {
  height: 450px;
  width: auto;
}

.placeholder-img-2 {
  // height: 450px;
  // width: auto;
}
