.dash-bg-color {
  // Just a placeholder color for the background
  background-color: $pastel-green;
}

.dash-icon {
  height: 40px;
  width: auto;
  position: relative;
  top: 35px;
  left: -57px;
}

.dash-button {
 position: relative;
 top: -42px;
 left: 410px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.placeholder-img {
  height: 450px;
  width: auto;
}

.placeholder-img-2 {
  // height: 450px;
  // width: auto;
}

// css example
span {
  content: "\2713";
}
