.dash-bg-color {
  // Just a placeholder color for the background
  background-color: #a1cca5;
}

.dash-h1 {
  font-weight: 700;
  font-size: 50px;
  position: relative;
  top: -48px;
  left: -4px;
}

.dashboard-h2 {
  font-weight: 700;
  font-size: 24px;
  position: relative;
  top: -73px;
  left: 150px;
}

.dash-h3 {
  font-weight: 400;
  font-size: 28px;
  position: relative;
  top: -45px;
  left: 0px;
}

.dash-icon {
  position: relative;
  height: 40px;
  width: auto;
  top: 8px;
  left: 150px;
}

.dash-button {
  position: relative;
  top: -172px;
  left: 610px;
}

.goal-description {
  margin-top: revert;
  padding-left: 10px;
}
