// Fix the footer!!!!!!
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 14.25rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14.25rem;            /* Footer height */
}
