.login-icon {
  height: 30px;
  width: auto;
}

.progress-icon {
  height: 50px;
  width: auto;
  position: relative;
  top: 50px;
  left: -70px;
}

.butterfly-icon {
  height: 80px;
  width: auto;
}

.streak-icon {
  height: 20px;
  width: 20px;
}
