.login-icon {
  height: 30px;
  width: auto;
}

.dash-icon {
  height: 40px;
  width: 40px;
  // position: relative;
  // top: 35px;
  // left: -57px;
}

.articles-icon {
  height: 40px;
  width: 40px;
}

.progress-icon {
  height: 50px;
  width: auto;
  position: relative;
  top: 50px;
  left: -70px;
}

.butterfly-icon {
  height: 80px;
  width: auto;
}

.streak-icon {
  height: 25px;
  width: 25px;
}

.congrats-icon {
  height: 100px;
  width: auto;
}
