table {
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 1px #DDDDDD;
  background-image: url("task.jpeg");
  background-size: cover;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.seven-header {

}

td {
  padding: 20px 10px;
}

th {
  padding: 10px 10px;

}
