.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: black;
  color: white;
  border: 1px solid $light-gray;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #7E73FF;
  color: white;
}
