.progress {
  font-size: 16px;
  border-radius: 10px;
  height: 43px;
  margin: 15px 0;
  font-weight: bold;

  &-bar-blue {background-color: $vibrant-blue;}
  &-bar-green {background-color: $vibrant-green;}
  &-bar-purple {background-color: $vibrant-purple;}
  &-bar-orange {background-color: $vibrant-orange;}
}

.index-paragraph-wrapper {
  display: flex;
  justify-content: space-between;
}

.description {
  font-weight: bolder;
}
