<div class="container my-5 col-8">
  <h1><strong>My progress</strong></h1>
  <div class="index-paragraph-wrapper mb-5">
    <h4>Keep track of the goals you have accomplished</h4>
    <%= link_to "Add a goal", new_user_goal_path, class: "btn btn-flat" %>
  </div>
  <% @user_goals.each do |user_goal| %>
  <% if user_goal.status == "done" %>
    <%= user_goal.description %>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Default striped example" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
  <% end %>
  <% end %>
</div>
<%# The goals should add up (and show a number) onto each bar, right now when you create a new goal it is added as a new progress bar. It shouldn't add to this page unless the user has marked it as done. %>
